.container {
    height: 300vh;
    position: relative;


    .sticky{
        position: sticky;
        top: 0px;
        height: 100vh;
        background-color: #C3EEFA;
        margin-top: 50vh;
        margin-bottom: 100vh;
    }

    .element{
        width: 100vh;
        height: 100vh;
        position: absolute; 
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .imageContainer {
            width: 40vh;
            height: 25vh;
            position: relative;

            img {
                object-fit: cover;
            }
        }
    }
}