@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #b8ddf8;
}

#openSlide {
  position: absolute;
  bottom: 12vh;
  color: white;
}

.scrolled {
  opacity: 0;
  transform: translateY(10vh);
  animation: scroll-in 3s forwards;
  animation-delay: 2s;
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontally center */
  text-align: center;
  position: sticky;
  overflow: hidden;
}


.landingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}


.landingBlurb {
  background-color: #ffffffae;
  padding: 1rem;
}

.pagePair {
  display:flex;
  gap: 1rem; 
  margin: 5vw;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vw;
  gap: 2rem;
}

.textBetween {
  text-align: center;
  margin-top: 10rem;
  margin-bottom:10rem;
}



.testImg {
  position: relative;
}



.testText {
  background-color: #ffffffae;
  padding:1rem;
}

.finalImage {
  position: relative; /* Required for Next.js Image with fill */
  min-height: 60vh;   /* Ensures the container is at least 40% of viewport height */
  width: 90vw; 
  margin: 5vw;
}

.finalBlurb {
  margin-left:5vw;
  margin-right:5vw;
  padding:1rem;
  padding-bottom: 15vh;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  background:#2d373f;
  color: #b8ddf8;
  height: auto;
  padding: 1rem;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}
 
a {
  text-decoration: underline;
}

a:hover {
  color: rgb(131, 109, 84)
}




@media (min-width: 700px) {
  h1 {
    font-size: 6vw;
  }
  
  h2 {
    font-size: 4.5vw;
  }
  
  p1 {
    font-size: 2vmin;
  }
  
  p {
    font-size: 2.5vmin;
  }

  #openSlide {
    bottom: 11vh;
  }

  .landing {
    padding: 5vh;
  }

  .landingBlurb {
    width: 60vw;
  }

  .parallaxTextContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    margin: 5vw;
    right: 0%;
    padding: 1rem;
    background-color: #F8F0C6;
  }

  .pagePair {
    flex-direction: row; 
  }

  .pictureBreak {
    height: 70vh;
  }

  .textBetween {
    margin-left: 35vw;
    margin-right: 35vw;
  }

  .testImg {
    width: 70vw;
    height: 50vh;
  }

  .testText {
    width: 30vw;
  }

  .rightContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .rightText {
    width: 50vw;
    padding: 2rem;
    margin: 5vw;
    text-align: right;
  }
  
  .leftText {
    width: 50vw;
    padding: 2rem;
    margin: 5vw;
    text-align: left;
  }

}

@media (max-width: 699px) {
  h1 {
    font-size: 6vw;
  }
  
  h2 {
    font-size: 4.5vw;
  }
  
  p1 {
    font-size: 3vmin;
  }
  
  p {
    font-size: 4vmin;
  }

  .landing {
    padding: 10vh;
  }

  .landingBlurb {
    width: 80vw;
  }

  .pictureBreak {
    height: 100vh;
  }

  .parallaxTextContainer {
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    margin: 10%;
    padding: 1rem;
    background-color: #F8F0C6;
  }

  .pagePair {
    flex-direction: column;
  }

  .textBetween {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  .testImg {
    width: 90vw;
    height: 50vh;
  }

  .testText {
    text-align: center;
  }

  .rightContainer {
    
  }

  .rightText {
    width: 100vw;
    padding: 10vw;
    text-align: left;
  }
  
  .leftText {
    width: 100vw;
    padding: 10vw;
    text-align: left;
  }
  
}
