@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  background-color: #FFFDD0;
  margin-top: 10vh;
  margin-bottom: 100vh;
}

.banner {
  padding: 5vh;
  background-color: white;
  margin-left: 5vh;
  margin-right: 40vh; 
}

h1 {
  font-size: 50px;
  
}

