.container {
    height: 200vh;
    position: relative;
    //margin-bottom: 10vh;

    .sticky {
        position: sticky;
        top: 0px;
        height: 100vh;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        z-index: 5;
    }

}

.textBlocks {
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    z-index: 3;
}

.bottomBar {
    position: relative;
    top: 0;
    height: auto;
    background: #b8ddf8;
    z-index: 5;
    padding: 1rem;
}

.image {
    position: sticky;
    height: 70vh;
    overflow: hidden;
}

.block {
    background-color: #ffffff90;
    padding: 1rem;
    margin: 10vh 0;
}

@media (max-width: 699px) {
    .block {
        width:0vh 0;
        text-align: center;
        opacity: 1;
    }
    .image {
        top: 0;
    }

    .bottomBar {
        padding: 10vw;
    }

}

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 60% 1fr;
        min-height: 400vh;   
        position: relative;
        margin-left:5vw;
        margin-right:5vh;
    }

    .image {
        top: 15vh;
    }
    .bottomBar{
        padding-left:5vw;
        padding-right:5vw;
    }
}