.container {
    height: 200vh;
    position: relative;
    //margin-bottom: 10vh;

    .sticky {
        position: sticky;
        top: 0px;
        height: 100vh;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        z-index: 5;
    }

}